body {
    color: #4F145B !important;
    font-family: Gotham-light !important;
}

/*search box css start here*/
.search-sec {
    padding: 2rem;
    color: #61126b !important;
    background-color: #f3a0b5;
}

.top-header {
    font-family: Gotham-Light !important;
    color: #61126b !important;

}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.profile_table td {
    padding: 0px;
    color: #4F145B !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: Gotham-light !important;
    color: #4F145B !important;
}

.table th,
.table td {
    color: #4F145B !important;
}

.sidebar {
    list-style: none;
    padding: 0px;
}

.sidebar li {
    width: 300px;
    height: 110px;
    background: #dc3545;
    color: #fff;
    margin-bottom: 1px;
    padding: 10px 20px;
    position: relative;
    font-family: Gotham-light !important;
}

.sidebar li:before,
.sidebar li:after {
    width: 20px;
    height: 50%;
    position: absolute;
    left: 100%;
    content: "";
}

#fetch-btn {
    background-color: #e1163c;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-family: gotham-light;

}

/*  .sidebar li:before {
      top: 0px;
      background: linear-gradient(to right top, #dc3545 50%, transparent 50%)
  }
  
  .sidebar li:after {
      top: 50%;
      background: linear-gradient(to right bottom, #dc3545 50%, transparent 50%)
  } */
@media (min-width: 992px) {
    .search-sec {
        position: relative;
        /*top: -114px;*/

    }
}

@media (max-width: 992px) {}